body {
  background: #9fc0e4;
}
#title {
  background: #3c7fc8;
}

.appointment .description {
  padding: 10px;
  padding-top: 8px;
}
.appointment .description b {
  font-size: 18px;
  font-weight: normal;
}
.appointment {
  border-color: #687e95;
}
.appointment table {
  border-collapse: collapse;
  width: 100%;
}
.appointment table thead {
  background: #828282;
  color: #fff;
}
.appointment table th {
  font-weight: normal;
  padding: 5px 10px;
  font-size: 13px;
  text-align: left;
}
.appointment table td {
  vertical-align: top;
  padding: 0;
}
.dates, .people {
  width: 130px;
}

.appointment .select {
  background-color: #fff;
  cursor: default;
  margin: 5px 0;
  outline: none;
  padding: 0;
  list-style: none;
}
.appointment .select li {
  padding:  4px 10px 4px 10px;
  height: 32px;
  font-size: 12px;
}
.appointment .select li:hover {
  background-color: #d6e9f8;
}
.appointment .select li.selected {
  background: #3c7fc8;
  color: #fff;
}
.appointment .select .bar {
  background: #fcef42;
  border-left: 10px solid #12bc41;
  border-right: 10px solid #f66262;
  display: block;
  height: 4px;
  margin-top: 4px;
}

.appointment .availability {
  padding-top: 4px;
  background: #f3f3f3;
}
.balloon {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  margin: 1px 12px 0px 2px;
  background: #bdbdbd;
}
.person.balloon {
}
.date.balloon {
  margin-left: 12px;
}
.balloon .arrow {
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #bdbdbd;
  position: absolute;
  margin-top: 5px;
  margin-left: 304px;
  height: 0;
  width: 0;
}
.date.balloon .arrow {
  margin-left: 294px;
}
.balloon .availability {
  height: 39px;
  padding: 0 2px;
}
.date.balloon .availability {
  height: 37px;
}
.date.balloon .static.availability {
  height: 33px;
}
.balloon .availability + .availability {
  border-top: 1px solid #bdbdbd;
}

.availability {
  font-size: 13px;
  overflow: hidden;
}
.static.availability {
  padding: 2px 4px;
  height: 35px;
}
.availability.yes {
  background: #a7ef71;
}
.availability.maybe {
  background: #fdeb90;
}
.availability.no {
  background: #fdc4b6;
}
.static.availability .possible {
  width: 29px;
  display: inline-block;
}
.static.availability .comment {
  display: inline;
  position: absolute;
  margin-top: 2px;
  width: 267px;
  height: 35px;
  overflow: hidden;
  font-size: 12px;
}
.static.availability .comment:hover {
  overflow-x: hidden;
  overflow-y: visible;
  background: inherit;
  height: auto;
  padding: 4px;
  margin: -2px 0 0 -4px;
}

.availability.form .choose {
  float: left;
  margin: 3px 4px 0 2px;
}
.availability.form .choose .toggle {
  float: left;
  background-color: #eee;
  border: 4px solid #eee;
  margin: 0;
  border-radius: 4px 0 0 4px;
}
.availability.form .choose .toggle + .toggle {
  border-radius: 0;
}
.availability.form .choose .toggle + .toggle + .toggle {
  border-radius: 0 4px 4px 0;
}
.availability.form .choose .toggle:hover {
  background-color: #fefefe;
  border-color: #fefefe;
}
.availability.form .choose .toggle.checked {
  background-color: #aaa;
  border-color: #aaa;
}

.availability.form textarea {
  font-size: 13px;
  width: 200px;
  border: 1px solid #bdbdbd;
  resize: none;
  outline: none;
  height: 32px;
  position: absolute;
  margin: 2px;
  padding: 0;
}
.date.balloon .availability.form textarea {
  width: 183px;
  height: 27px;
}

.save {
  padding-left: 10px;
}
.save button {
  vertical-align: 2px;
  font-weight: bold;
}
.status {
  padding-left: 10px;
  font-size: 13px;
}

.tools h3 {
  background: #828282;
  color: #fff;
  font-weight: normal;
  padding: 5px 10px;
  margin: 0 0 5px 0;
  font-size: 13px;
}
.propose-dates > div, .invite-participant > div, .resend-invitations > div {
  padding: 0 10px;
  font-size: 13px;
  margin: 5px 0;
}
.tools .label-input-label {
  color: gray;
}
.tools input {
  font-size: 13px;
  width: 300px;
  border: 1px solid #aaa;
  padding: 3px 2px;
  outline: none;
}
.tools .propose-form input {
  width: 100px;
  float: none;
}
.tools .propose-form label {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
}
.tools .invite-participant input {
  margin-right: 10px;
  width: 150px;
}
.tools .success {
  color: green;
}
.tools .error {
  color: red;
  font-weight: bold;
}
.tools .invite-participant .success, .tools .invite-participant .error {
  clear: both;
  display: block;
}
.tools .resend-invitations .goog-menu-button {
  margin-right: 10px;
}
.tools .resend-invitations .goog-menu-button-caption {
  width: 285px;
}
.tools .propose-error, .tools .invite-error {
  color: red;
  font-style: italic;
}
.tools .email-addresses p {
  margin: 10px;
}
.tools .email-addresses textarea {
  padding: 3px 2px;
  border: 1px solid #aaa;
  width: 500px;
  height: 60px;
  outline: none;
}

.te-up, .te-down {
  margin-left: -40px;
  margin-top: 4px;
}
.te-down {
  margin-top: 14px;
}

.modal-dialog {
  font-family: arial, sans-serif;
}

.label-yes, .label-maybe, .label-no {
  width: 21px;
  height: 24px;
  background: url(../images/options.png) no-repeat;
  margin: 3px 2px;
}
.label-maybe {
  background-position: -21px 0;
}
.label-no {
  background-position: -42px 0;
}
