.date-time-picker a {
  text-decoration: none;
}
.date-time-picker .selected-container {
  width: 562px;
  margin-top: 10px;
}
.date-time-picker .selected-times {
  overflow-x: none;
  overflow-y: auto;
  color: #666;
}
.date-time-picker .selected-header {
  float: left;
  width: 113px;
  margin: 0;
}
.date-time-picker .week-days {
  width: 448px;
  margin-left: 115px;
  height: 18px;
}
.date-time-picker .week-days span {
  width: 64px;
  display: block;
  float: left;
  color: #666;
}
.date-time-picker .container {
  border: 1px solid #ccc;
  height: 384px;
  background: #fff;
  width: 560px;
  overflow: hidden;
}
.date-time-picker .label {
  float: left;
  padding: 8px;
  font-size: 18px;
  width: 95px;
  position: absolute;
}
.date-time-picker .label .choose {
  cursor: pointer;
  color: #80c18d;
  display: block;
  text-align: center;
}
.date-time-picker .month-label {
  text-align: center;
  display: block;
}
.date-time-picker .days {
  width: 448px;
  float: right;
  border-left: 1px solid #ccc;
}
.date-time-picker .month .day {
  color: #999;
}
.date-time-picker .month.selected .day {
  color: #000;
}
.date-time-picker .day {
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}
.date-time-picker .past {
  cursor: default;
}
.date-time-picker .day.even {
  background: #e7eff6;
}
.date-time-picker .day.odd {
  background: #c9e3e7;
}
.date-time-picker .past.odd {
  background: #e3e3e3;
}
.date-time-picker .past.even {
  background: #f3f3f3;
}
.date-time-picker .past .box {
  border-color: #c2d6e6 !important;
  border-top-color: #abb6d8 !important;
  border-left-color: #abb6d8 !important;
  background: #b0cadf;
}
.date-time-picker .past.odd .box {
  background: #9fbed8;
}
.date-time-picker .day .box {
  border: 1px solid #ccc;
  border-top-color: #fefefe;
  border-left-color: #fefefe;
  width: 62px;
  height: 62px;
  border-left: 1px solid #f7fafd;
  border-top: 1px solid #f7fafd;
  border-right: 1px solid #abb6d8;
  border-bottom: 1px solid #abb6d8;
}
.date-time-picker .day .c {
  padding: 4px;
  font-size: 16px;
}
.date-time-picker .popup {
  font-size: 12px;
  font-weight: normal;
  background: #12565f;
  color: #000;
  position: absolute;
  cursor: default;
  z-index: 2;
  border-bottom: 4px solid #0b3136;
  color: #fff;
}
.date-time-picker .popup .content {
  width: 122px;
  height: 122px;
  padding: 4px;
  position: absolute;
}
.date-time-picker .close {
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background: url(../images/dp-close.png);
  width: 22px;
  height: 25px;
}
.date-time-picker .close:active {
  background: url(../images/dp-close-pressed.png);
}
.date-time-picker .entry-label {
  position: absolute;
  top: 86px;
  left: 4px;
}
.date-time-picker .entry {
  position: absolute;
  top: 100px;
  left: 4px;
  border: none;
  padding: 0;
  width: auto;
}
.date-time-picker .entry input {
  border: 1px solid #0b3136 !important;
  width: 80px;
  font-size: 13px;
  padding: 2px;
  margin-top: 2px;
}
.date-time-picker .entry button {
  width: 30px;
}
.date-time-picker .popup .title {
  font-size: 14px;
}
.date-time-picker .popup .title b {
  font-size: 20px;
  font-weight: normal;
}
.date-time-picker .popup-times {
  background: #fff;
  height: 54px;
  overflow-x: none;
  overflow-y: auto;
  border: 1px solid #0b3136;
  margin-right: 1px;
}
.date-time-picker .time-box {
  background: #2580c6;
  color: #fff;
  padding: 0 2px;
  margin: 1px;
  display: inline-block;
  width: 4em;
  border-radius: 3px;
  font-weight: bold;
  text-align: right;
}
.date-time-picker .time-delete {
  padding-left: .3em;
  cursor: pointer;
  color: #fff;
}
.date-time-picker .today-indicator {
  float: right;
  font-size: 9px;
  margin: 0px 4px 4px 4px;
}
.date-time-picker .today-big {
  font-size: 10px;
  margin-top: -3px;
}
.date-time-picker .times {
  font-size: 12px;
  margin-top: -6px;
  text-align: right;
  font-weight: bold;
}
.date-time-picker .date {
  background: #2580c6;
  color: #fff;
  border-radius: 3px;
  padding: 2px 4px;
  margin-bottom: 2px;
  float: left;
  width: 130px;
  margin-right: 2px;
}
.date-time-picker .date span {
  cursor: pointer;
}
.date-time-picker .date-delete {
  float: right;
  cursor: pointer;
  font-size: 18px;
  line-height: 16px;
  padding-left: .3em;
  color: #fff;
}
.date-time-picker .which-month, .which-year, .which-time {
  display: none;
}
.date-time-picker .enter {
  display: block;
  width: 29px;
  height: 23px;
  background: url(../images/dp-enter.png);
  position: relative;
  left: 91px;
  cursor: pointer;
  top: 18px;
}
.date-time-picker .enter:active {
  background: url(../images/dp-enter-pressed.png);
}

.time-picker {
  position: absolute;
  height: 120px;
  width: 4em;
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
.time-picker-12hours {
  width: 6em;
}
.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.time-picker li {
  cursor: pointer;
  height: 10px;
  padding: 4px 3px;
  font-size: 12px;
  line-height: 1;
}
.time-picker li.selected {
  background: #2580c6;
  color: #fff;
}
