{% extends 'plapp/base.html' %}

{% load appointment_tags %}
{% load pleft_tags %}
{% load i18n %}

{% block pageid %}appointment{% endblock %}

{# expects Appointment object appt and list tool, containing dictionaries of title, target, form, and submit_text #}
{# the view hasn't been updated yet. #}
{# {% block scripts %}
  {% insert_script 'overview' %}
{% endblock %} #}

{% block main_script %}{% with appointment as appt %}
  <script>var data = {% include plapp/appointment_data.json %};</script>
{% endwith %}{% endblock %}

{% block styles %}
  <link rel=stylesheet href='{{ STATIC_URL }}style/appointment.css'>
{% endblock %}

{% block title %}
  <h1>{% trans "Appointment overview" %}</h1>
{% endblock %}

{% block content %}
  <div class=side-help>
    <p>Use the buttons to indicate when you’re available. You can also enter comments.</p>
    <p>View the availability of the other participants by clicking on their names or on the dates at the left side.</p>
  </div>
  <div id=overview-content>
    <div id=overview-content-header>
        <a class=bttn href=#>Refresh</a>
        <h2>{{appt.title}}</h2>
    </div>
    <div id=overview-content-dates>
        <!-- content will be overwritten by jQuery -->
        <h3>Proposed Dates</h3>
        <table>
            <thead>
                <tr>
                <th>Proposed Dates</th>
                {% for inv in appt.Invitee_set %}
                    <th class=invitee>{{invitee.name}}</th>
                {% endfor %}
                </tr>
            </thead>
            {# still need to generate content #}
            <tbody>
              {% for date in appt.dates %}
              <tr>
              <th>{{ date.date }}</th>
              {% for avail in date.Availability_set %}
                <td class=avail-{{avail.possible}}>{% if avail.user = USER %}
                  <form action={% reverse set_availability %} method=POST> {# set_availability needs to be altered to accept this. #}
                    <input type=submit name=avail value=Yes>
                    <input type=submit name=avail value=Maybe>
                    <input type=submit name=avail value=No>
                    <input type=hidden name=date value={{date.id}}>

                    <textarea name=comment>{{avail.comment}}</textarea>
                  </form>
                {% else %}
                  {{avail.comment}}
                {% endif %}</td>
              {% endfor %}
              </tr>
              {% endfor %}
        </table>
    </div>
    <div id=overview-content-tools>
        {% for tool in tools %}
            <h3>{{tool.title}}</h3>
            <form action={{tool.target}}>
            <p>
                {% for field in tool.form %}
                  {{field.label_tag}}: {{field}}
                {% endfor %}
                {% if tool.submit_text %}<input type=submit value={{tool.submit_text}}>{% endfor %}
            </p>
            </form>
        {% endfor %}
    </div>
  </div>
{% endblock %}
